@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Prompt:wght@300;500&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 800;
}

.css-1e4e1qc-MuiButtonBase-root-MuiButton-root {
  font-family: none;
}

.main-sidebar {
  background: #fff;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-content {
  position: absolute;
  display: flex;
  text-align: flex-start;
  left: 10%;
  top: 50%;
  max-width: 800px;
  font-weight: 900;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 100px #9ed9e4;
}

/*  */

.testimonials {
  width: 100%;
}

.testimonials .container {
  width: 1200px;
  margin: 4rem auto;
  padding: 4rem 0rem;
}

.testimonials h2 {
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}

.testimonials .container .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 4rem o;
}

.testimonials .card {
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  padding: 1rem;
}

.testimonials img {
  border-radius: 50px;
  margin-top: -2rem;
}

.testimonials .card p {
  color: #787878;
  font-size: 1.1rem;
  margin: 12px;
}

.testimonials .card span {
  color: green;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 940px) {
  .testimonials .container {
    width: 100%;
  }

  .testimonials .container .content {
    grid-template-columns: 1fr;
  }

  .testimonials .card {
    max-width: 100%;
    margin: 1rem;
  }
}

/*  */

.hero-title {
  margin-top: 150px;
  display: flex;
  gap: 50px;
}

.about-wrapper-left {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  justify-content: center;
  text-align: flex-end;
  gap: 30px;
  margin-top: 100px;
}

.code {
  position: absolute;
  width: 53.2%;
}

.try-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: #007acc;
  border: none;
  transition: 0.2s linear;
}

.try-btn:hover {
  background: #9ed9e4;
  color: #007acc;
  box-shadow: 0 0 20px #007acc;
}
/*  */

.page-title {
  margin-top: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}

.vidpto {
  position: absolute;
  width: 53%;
  left: 0;
  top: 230%;
}
.about-wrapper-right-2 {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  text-align: flex-start;
  gap: 30px;
  margin-top: 100px;
}

/*  */

.review-title {
  margin-top: 300px;
  background: rgba(0, 0, 0, 0.1);
  padding: 100px;
}

.review-review {
  display: flex;
  flex-wrap: wrap;
}

.modal-review {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.review-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-card {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  gap: 30px;
}

.footer {
  height: 200px;
  margin-top: 100px;
  padding: 45px 0;
  background-color: #000000;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.first-line {
  cursor: pointer;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.footer-item {
  color: hsl(233.3333333333deg 9.8901098901% 64.3137254902%);
  transition: 0.2s;
}
.footer-item:hover {
  color: #fff;
}
.first-line h1 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.footer-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
}

.site-tag {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: flex-end;
  color: hsl(233.3333333333deg 9.8901098901% 64.3137254902%);
  font-size: 14px;
}

.goback {
  position: fixed;
  left: 3%;
  top: 2%;
}

@media all and (max-width: 1250px) {
  .footer {
    padding: 20px;
  }
  .hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-wrapper-left {
    text-align: center;
  }
  .about-wrapper-right {
    display: none;
  }
  .about-wrapper-left-2 {
    display: none;
  }
  .about-content {
    top: 20%;
  }
  .about-wrapper-right-2 {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .page-title {
    margin-top: 150px;
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 750px) {
  .about-content {
    font-size: 20px;
    font-weight: 600;
  }
  .review-review {
    gap: 20px;
  }
  .footer ul {
    display: none;
  }
}

@media all and (max-width: 450px) {
  .about-content {
    display: none;
  }
  .about-wrapper-left {
    width: 300px;
  }
  .about-wrapper-right-2 {
    width: 300px;
  }
  .review-card {
    width: 200px;
  }
}

@media all and (max-width: 425px) {
  .review-card {
    width: 250px;
    display: flex;
    justify-content: center;
  }
  .review-title {
    padding: 10px;
  }
  .review-content {
    width: 150px;
  }
}
